/* Basic Reset */
body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Header Styles */
header {
    background-color: #8E44AD;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background: #5B2C6F;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #4A235A;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #FAE8FF;
    color: #4A235A;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

article img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #5B2C6F;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
