/* Basic Reset */
body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Serif', Georgia, Times, 'Times New Roman';
}

/* Header Styles */
header {
    background-color: #4a4e69;
    color: #f2e9e4;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background: #22223b;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #f2e9e4;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #9a8c98;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #f2e9e4;
    color: #22223b;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

article img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #22223b;
    color: #f2e9e4;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
